/* .pipeline-box {
    margin: 40px;
    padding: -24px;
    position: absolute;
    right: 0px;
/* } */ */
.pipeline-box {
    margin: 40px;
    padding: 0px;
    position: absolute;
    right: 0px;
    top: 111px;
}
